.header {
  width: 94%;
  height: 74px;
  max-width: 880px;
  margin: 45px auto 40px;
}
.header__line {
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .header {
    width: 100%;
    margin-bottom: 0;
    margin-top: 28px;
  }

  .header__logo {
    padding-left: 27px;
  }

  .header__line {
    width: 100%;
  }
}
@media screen and (min-width: 601px) and (max-width: 768px) {
  .header {
    width: 100%;
  }
}
@media screen and (min-width: 601px) and (max-width: 909px) {
  .header {
    width: 90%;
  }
}
