.profile {
  display: flex;
  width: 94%;
  max-width: 880px;
  height: auto;
  margin: 0 auto 50px;
  justify-content: space-between;
  align-items: center;
}

.profile__avatar {
  display: flex;
  justify-content: center;
  width: 168px;
  height: 127px;
  margin: 0;
}

.profile__avatar_image {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.profile__intro {
  display: flex;
  flex-wrap: wrap;
  width: 415px;
  height: 77px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.profile__intro_edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-fondo-principal);
  width: 24px;
  height: 24px;
  border: 1px solid white;
  border-radius: 2px;
  cursor: pointer;
}
.profile__intro_edit-button:hover {
  transform: scale(1.09, 1.09);
  transition: 1s;
  filter: brightness(70%);
}

.profile__intro_name-explorer {
  color: var(--color-secundario-textos-primarios-bordes);
  width: 89%;
  height: 39px;
  margin-bottom: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font-family: "Inter-Regular", sans-serif;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
}

.profile__intro_explorer {
  color: var(--color-secundario-textos-primarios-bordes);
  width: 100%;
  height: 22px;

  font-family: "Inter-Italic", sans-serif;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
}

.profile__add-button {
  color: var(--color-secundario-textos-primarios-bordes);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17%;
  height: 50px;
  margin: 0;
  border: 1px solid var(--color-secundario-textos-primarios-bordes);
  border-radius: 2px;
  cursor: pointer;
}
.profile__add-button:hover {
  transform: scale(1.09, 1.09);
  transition: 1s;
  filter: brightness(70%);
}

.profile__add-button_image {
  width: 22px;
  height: 22px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .profile {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
  }

  .profile__avatar {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 42px;
  }
  .profile__intro {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: row;
  }

  .profile__intro_name-explorer {
    width: 80%;
    height: 50px;
    font-size: 22px;
    line-height: 26.34px;
  }

  .profile__intro_explorer {
    font-size: 14px;
    line-height: 19.94px;
  }

  .profile__add-button {
    margin-top: 36px;
    width: 90%;
    height: 50px;
    border-radius: 2px;
  }
}
@media screen and (min-width: 601px) and (max-width: 768px) {
  .profile {
    width: 100%;
  }

  .profile__avatar {
    width: 41%;
  }

  .profile__intro_name-explorer {
    font-size: 22px;
  }

  .profile__intro_explorer {
    font-size: 14px;
    line-height: 19.94px;
  }

  .profile__add-button {
    margin-left: 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 909px) {
  .profile {
    width: 90%;
  }

  .profile__avatar {
    width: 41%;
  }

  .profile__intro_name-explorer {
    font-size: 22px;
  }

  .profile__intro_explorer {
    font-size: 14px;
    line-height: 19.94px;
  }

  .profile__add-button {
    margin-left: 20px;
  }
}
