/* body,
main,
header,
section,
footer,
div,
h2,
button,
p,
h2,
h3,
form,
img {
  border: 1px solid red;
} */

.page {
  display: grid;
  justify-content: center;
  grid-template-columns: 200px 1fr 200px;
  background-color: var(--color-fondo-principal);
  position: relative;
}
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  height: 100%;
  background-color: var(--color-fondo-principal);
  grid-column-start: 2;
}
.header {
  width: 94%;
  height: 74px;
  max-width: 880px;
  margin: 45px auto 40px;
}
.header__line {
  width: 100%;
}
.profile {
  display: flex;
  width: 94%;
  max-width: 880px;
  height: auto;
  margin: 0 auto 50px;
  justify-content: space-between;
  align-items: center;
}
.profile__avatar {
  display: flex;
  justify-content: center;
  width: 168px;
  height: 127px;
  margin: 0;
}
.profile__avatar_image {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
.profile__intro {
  display: flex;
  flex-wrap: wrap;
  width: 415px;
  height: 77px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.profile__intro_edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-fondo-principal);
  width: 24px;
  height: 24px;
  border: 1px solid white;
  border-radius: 2px;
  cursor: pointer;
}
.profile__intro_edit-button:hover {
  transform: scale(1.09, 1.09);
  transition: 1s;
  filter: brightness(70%);
}

.profile__intro_name-explorer {
  color: var(--color-secundario-textos-primarios-bordes);
  width: 89%;
  height: 39px;
  margin-bottom: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font-family: "Inter-Regular", sans-serif;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
}
.profile__intro_explorer {
  color: var(--color-secundario-textos-primarios-bordes);
  width: 100%;
  height: 22px;

  font-family: "Inter-Italic", sans-serif;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
}
.profile__add-button {
  color: var(--color-secundario-textos-primarios-bordes);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17%;
  height: 50px;
  margin: 0;
  border: 1px solid var(--color-secundario-textos-primarios-bordes);
  border-radius: 2px;
  cursor: pointer;
}
.profile__add-button:hover {
  transform: scale(1.09, 1.09);
  transition: 1s;
  filter: brightness(70%);
}
.profile__add-button_image {
  width: 22px;
  height: 22px;
}

.cards {
  display: grid;
  grid-template-columns: 283px 283px 283px;
  grid-template-rows: 1fr 1fr;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  grid-column-gap: 17px;
  grid-row-gap: 20px;
}
.card__element {
  width: 100%;
  height: 362px;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
}
.card__element_image {
  width: 100%;
  height: 282px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
  object-fit: cover;
}

.card__element_item {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: var(--color-secundario-textos-primarios-bordes);
  border-radius: 0 0 10px 10px;
  margin-top: 0;
  justify-content: flex-start;
  align-items: center;
}
.card__element_item-title {
  width: 246px;
  height: 30px;
  margin: 0 0 0 21px;
  border-radius: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font-family: "Inter-Black", sans-serif;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
}
.card__element_item-image {
  width: 20.76px;
  height: 18.13px;
  margin-right: 29px;
  cursor: pointer;
}
.card__element_item-image:hover {
  transition: 1s;
  transform: scale(1.09, 1.09);
  filter: opacity(60%);
}

.footer {
  background-color: var(--color-fondo-principal);
  margin-top: 66px;
  margin-bottom: 60px;
  width: 100%;
  max-width: 880px;
  height: 18px;
  color: var(--color-textos-secundarios);
}
.footer__copyright {
  margin: 0;
  width: 100%;
  height: 18px;

  font-family: "Inter-Black", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
}

.edit-form {
  display: flex;
  position: fixed;
  width: 538px;
  height: auto;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
  font-family: "Inter-Regular", sans-serif;
  z-index: 2;
  display: none;
  border: 1px solid red;
}

input:focus {
  outline-color: aqua;
}

input::-ms-input-placeholder {
  font-family: "Inter-Italic", sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 34px;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 5px 5px 1px rgba(27, 25, 25, 0.829);
  margin-right: auto;
}
.edit-form_icono {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: auto;
}
.edit-form_icono:hover {
  transition: 1s;
  transform: scale(1.09, 1.09);
  filter: brightness(70%);
}

.form__title {
  margin-top: 0;
  margin-bottom: 54px;
  text-align: left;
  color: black;

  font-family: "Inter-Black", sans-serif;
}

.form__imput {
  border: none;
  margin-bottom: 29px;
  width: 98%;
  height: 27px;
  background-color: rgba(238, 218, 218, 0.616);
}
.form__submi {
  margin-top: 19px;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 5px 5px 1px rgba(27, 25, 25, 0.993);
  cursor: pointer;
}
.form__submi:hover {
  background-color: rgba(12, 11, 11, 0.781);
  transition: 1s;
  transform: scale(1.05, 1.05);
}

.overlay {
  background-color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: opacity(60%);
  position: absolute;
  left: 0;
  z-index: 0;
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .main-page {
    align-items: center;
  }

  .page {
    display: grid;
    grid-template-columns: 1fr;
  }
  .header {
    width: 100%;
    margin-bottom: 0;
    margin-top: 28px;
  }
  .header__line {
    width: 100%;
  }
  .logo {
    padding-left: 27px;
  }

  .profile {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
  }
  .profile__avatar {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 42px;
  }

  .profile__intro {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: row;
  }
  .profile__intro_name-explorer {
    width: 80%;
    height: 50px;
    font-size: 22px;
    line-height: 26.34px;
  }

  .profile__intro_explorer {
    font-size: 14px;
    line-height: 19.94px;
  }
  .profile__add-button {
    margin-top: 36px;
    width: 90%;
    height: 50px;
    border-radius: 2px;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
  }
  .card__element {
    width: 91%;
  }

  .footer {
    margin-left: 0;
    width: 88%;
    margin-top: 48px;
    margin-bottom: 36px;
  }
  .footer__copyright {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    font-family: "Inter-Regular", sans-serif;
  }

  .edit-form {
    display: flex;
    position: fixed;
    margin-top: 29%;
    font-family: "Inter-Regular", sans-serif;
    align-items: flex-end;
    width: 94%;
    height: 386px;
    flex-direction: column;
  }

  input:focus {
    outline-color: aqua;
  }

  input::-ms-input-placeholder {
    font-family: "Inter-Italic", sans-serif;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    padding: 20px;
    width: 87%;
    height: 80%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 5px 1px rgba(27, 25, 25, 0.829);
  }
  .edit-form_icono {
    width: 26px;
  }
  .form__title {
    margin-top: 0;
    margin-bottom: 54px;
    text-align: left;
    color: black;

    font-family: "Inter-Black", sans-serif;
  }

  .form__imput {
    margin-bottom: 29px;
    width: 98%;
    height: 27px;
  }
  .form__submi {
    margin-top: 10px;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 5px 5px 1px rgba(27, 25, 25, 0.829);
  }

  .overlay {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: opacity(60%);
    position: absolute;
    left: 0;
    z-index: 0;
    display: none;
  }
}
@media screen and (min-width: 601px) and (max-width: 768px) {
  .header {
    width: 100%;
  }

  .profile {
    width: 100%;
  }
  .profile__avatar {
    width: 41%;
  }
  .page {
    width: 100%;
  }
  .profile__intro_name-explorer {
    font-size: 22px;
  }

  .profile__intro_explorer {
    font-size: 14px;
    line-height: 19.94px;
  }
  .profile__add-button {
    margin-left: 20px;
  }

  .cards {
    grid-template-columns: 283px 283px;
  }

  .footer {
    width: 80%;
  }

  .edit-form {
    display: grid;
    position: fixed;
    margin-top: 12%;
    margin-left: 18%;
    font-family: "Inter-Regular", sans-serif;
    grid-template-rows: 32px 330px;
    margin-left: 3%;
  }
  .form {
    width: 282px;
    height: 322px;
  }

  input:focus {
    outline-color: aqua;
  }

  input::-ms-input-placeholder {
    font-family: "Inter-Italic", sans-serif;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 34px;
    width: 84%;
    height: 80%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 5px 1px rgba(27, 25, 25, 0.829);
  }
  .edit-form_icono {
    grid-column-start: 2;
  }
  .form__title {
    margin-top: 0;
    margin-bottom: 54px;
    text-align: left;
    color: black;

    font-family: "Inter-Black", sans-serif;
  }

  .form__imput {
    margin-bottom: 29px;
    width: 98%;
    height: 27px;
  }
  .form__submi {
    margin-top: 10px;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 5px 5px 1px rgba(27, 25, 25, 0.829);
  }
  .overlay {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: opacity(60%);
    position: absolute;
    left: 0;
    z-index: 0;
    display: none;
  }
  .footer {
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 909px) {
  .page {
    display: flex;
    align-items: center;
  }
  .main-page {
    display: flex;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .header {
    width: 90%;
  }

  .profile {
    width: 90%;
  }
  .profile__avatar {
    width: 41%;
  }
  .page {
    width: 100%;
  }
  .profile__intro_name-explorer {
    font-size: 22px;
  }

  .profile__intro_explorer {
    font-size: 14px;
    line-height: 19.94px;
  }
  .profile__add-button {
    margin-left: 20px;
  }

  .cards {
    width: 90%;
    grid-template-columns: 48% 48%;
    justify-content: center;
  }
  .card__element {
    width: 100%;
  }
  .edit-form {
    display: grid;
    position: fixed;
    margin-top: 12%;
    margin-left: 18%;
    font-family: "Inter-Regular", sans-serif;
    grid-template-rows: 32px 330px;
    margin-left: 3%;
  }
  .form {
    width: 282px;
    height: 322px;
  }

  input:focus {
    outline-color: aqua;
  }

  input::-ms-input-placeholder {
    font-family: "Inter-Italic", sans-serif;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 34px;
    width: 84%;
    height: 80%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 5px 1px rgba(27, 25, 25, 0.829);
  }
  .edit-form_icono {
    grid-column-start: 2;
  }
  .form__title {
    margin-top: 0;
    margin-bottom: 54px;
    text-align: left;
    color: black;

    font-family: "Inter-Black", sans-serif;
  }

  .form__imput {
    margin-bottom: 29px;
    width: 98%;
    height: 27px;
  }
  .form__submi {
    margin-top: 10px;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 5px 5px 1px rgba(27, 25, 25, 0.829);
  }
  .overlay {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: opacity(60%);
    position: absolute;
    left: 0;
    z-index: 0;
    display: none;
  }
  .footer {
    width: 90%;
  }
}
