.card__element_item {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: var(--color-secundario-textos-primarios-bordes);
  border-radius: 0 0 10px 10px;
  margin-top: 0;
  justify-content: flex-start;
  align-items: center;
}
