.edit-form_icono {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: auto;
}
.edit-form_icono:hover {
  transition: 1s;
  transform: scale(1.09, 1.09);
  filter: brightness(70%);
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .edit-form_icono {
    width: 26px;
  }
}
@media screen and (min-width: 601px) and (max-width: 768px) {
  .edit-form_icono {
    grid-column-start: 2;
  }
}
@media screen and (min-width: 769px) and (max-width: 909px) {
  .edit-form_icono {
    grid-column-start: 2;
  }
}
