.card__element_item-title {
  width: 246px;
  height: 30px;
  margin: 0 0 0 21px;
  border-radius: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font-family: "Inter-Black", sans-serif;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
}
