.profile__intro_name-explorer {
  color: var(--color-secundario-textos-primarios-bordes);
  width: 89%;
  height: 39px;
  margin-bottom: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font-family: "Inter-Regular", sans-serif;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
}
